---
import BillingHook from '../components/snipcart/BillingHook.astro';
import ProductButton from '../components/ProductButton.astro';

const { content } = Astro.props;
const { id, name, description, price, image, url } = content;
const snipcart_public_key = import.meta.env.PUBLIC_SNIPCARTAPI;
const path = Astro.site.pathname;
---
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{name}</title>

	<link rel="preconnect" href="https://app.snipcart.com" />
	<link rel="preconnect" href="https://cdn.snipcart.com" />
	<link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.css" />


	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	
	<link rel="stylesheet" type="text/css" href={Astro.resolve('/assets/css/bootstrap.min.css')} />
</head>
<body>
	<header class="container">

		<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Boutique</a>
				
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link snipcart-checkout" aria-current="page" href="#">
							Panier
							<span class="badge bg-primary"><span class="snipcart-items-count"></span></span>
						</a>
					</li>
				</ul>
			</div>
		</nav>

	</header>

	<main class="container py-5">

        <img src={Astro.resolve(image)} alt={name} />

        <h1>{name}</h1>

        <p>{price}</p>
		
        <slot />

        <ProductButton id={id}
					   name={name}
					   description={description}
					   price={price}
					   image={Astro.resolve(image)}
					   url={path + url} />

	</main>

	<script async src="https://cdn.snipcart.com/themes/v3.3.0/default/snipcart.js"></script>
	<div hidden id="snipcart" 
				data-api-key={snipcart_public_key} 
				data-config-modal-style="side" 
				data-config-add-product-behavior="none">
		<BillingHook />
	</div>
	<style global>
	.snipcart-cart-summary-side{
		box-shadow: 0 0 8px rgba(0,0,0,.2) !important;
	}
	</style>
</body>
</html>